<ion-view title="">

  <ion-content>
    <h1>{{beer.nameDisplay}}</h1>
    <div class="item"><img ng-src="{{beer.images.icon || '/img/no-image-placeholder.png'}}">

      <div class="row">
        <div class="col">
          Bewertung
        </div>
        <div class="col rating">
          <i class="ion-ios-pint" ng-class="{'active': beer.rating > 0}"></i>
          <i class="ion-ios-pint" ng-class="{'active': beer.rating > 1}"></i>
          <i class="ion-ios-pint" ng-class="{'active': beer.rating > 2}"></i>
          <i class="ion-ios-pint" ng-class="{'active': beer.rating > 3}"></i>
          <i class="ion-ios-pint" ng-class="{'active': beer.rating > 4}"></i>
        </div>
      </div>

      <p ng-show="beer.style.abvMin">Zwischen {{beer.style.abvMin}}% und {{beer.style.abvMax}}%</p>
    </div>
    <a class="button" ng-href="#/tab/details/beer/{{beer.id}}/rate">Jetzt trinken</a>

    <pre>{{beer | json}}</pre>

  </ion-content>

</ion-view>
