<ion-view title="Brauerei">

  <ion-content scroll="false">
    <div class="row searchbox">
      <div class="col col-80 list list-inset no-padding-right">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input id="searchLocation" g-places-autocomplete force-selection="true" options="autocompleteOptions" ng-model="place" type="text"
                 placeholder="Standort eingeben">
        </label>
      </div>
      <div class="col col-10list list-inset no-padding-left">
        <button class="button-geolocation" ng-click="newGeolocation()">
          <i class="ion-ios-location"></i>
        </button>
      </div>
    </div>

    <ion-scroll style="height:90%">

    <ion-item>
  <ion-item class="brewery-thumbnail">
    <h1>{{brewery.nameShortDisplay}}</h1>
    <img class="brewery-image" src="img/brauerei_thumbnail.png">
    <a class="navigate-to-brewery">
      <div class="row">
          <p class="col-66">{{brewery.locations[0].streetAddress}}<br>{{brewery.locations[0].postalCode}} {{brewery.locations[0].locality}}</p>

        <button class="item-button-right col-33">Navigieren</button>
      </div>
    </a>
    <a class="call-brewery" href="">
      <div class="row">
        <p class="col-66">{{brewery.locations[0].phone}}</p>
        <button class="item-button-right col-33">Anrufen</button>
      </div>
    </a>

  </ion-item>


    <ion-list>
      <ion-item ng-repeat="beer in beerList">
        <a class="item item-thumbnail-left divider"  ng-href="#/tab/details/beer/{{beer.id}}">
          <img ng-src="{{beer.images.icon || 'img/no-image-placeholder.png'}}">
          <h2>{{beer.nameDisplay}}</h2>
          <div class="infoicons">
            <span><i class="icon ion-android-radio-button-on"></i> {{location.distance}} km</span>
            <span ng-show="(location.openToPublic == 'Y')" ng-hide="location.locationType == 'restaurant' ||
                     location.locationType == 'brewpub' || location.locationType == 'tasting'">

                     <i class="icon ion-android-people"></i> Öffentlich</span>


            <span ng-show="((location.openToPublic == 'Y') &&
                    (location.locationType == 'restaurant' ||
                     location.locationType == 'brewpub' ||
                     location.locationType == 'tasting'))">
                      <i class="icon beeround-icon restaurant"></i> Restaurant</span>
          </div>
        </a>
      </ion-item>
    </ion-list>
  </ion-item>
    </ion-scroll>


    <ion-list ng-show="noData">
      <ion-item>
        <p>Keine Biere hinterlegt!</p>
      </ion-item>
    </ion-list>



  </ion-content>
  </div>

</ion-view>
