<ion-view title="Breweries">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input g-places-autocomplete force-selection="true" options="autocompleteOptions" ng-model="place" type="text"
               placeholder="Standort eingeben">
      </label>
    </div>

    <div class="card" ng-show="connectionError">
      <div class="item item-text-wrap">
        <h3>Ein Fehler ist aufgetreten</h3>
        <p>Bitte überprüfen Sie Ihre Internetverbindung.</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <h3>{{location.town || location.village}}</h3>
        <h3>Radius: {{radius}}km</h3>
      </div>
    </div>

    <!-- Show when coordinates saved-->
    <div ng-show="lat" class="card">
      <div class="item item-text-wrap">
        <label class="item">
          <p>Radius</p>
          <select ng-model="radiusSelect" ng-change="showSelectValue(radiusSelect)">
            <option ng-selected="radius == 10">10 km</option>
            <option  ng-selected="radius == 30">30 km</option>
            <option  ng-selected="radius == 50">50 km</option>
            <option  ng-selected="radius == 80">80 km</option>
            <option  ng-selected="radius == 100">100 km</option>

          </select>
        </label>
      </div>
    </div>

    <ion-list>
      <ion-item ng-repeat="location in breweries" ng-href="#/tab/list/{{location.brewery.id}}">

        <p>
          {{location.brewery.nameShortDisplay}}
          <span class="badge badge-positive">{{location.distance}}km</span>

        </p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
