<ion-view title="beeround">
  <ion-nav-buttons side="left">
    <span class="button button-icon button-clear ion-ios-information-empty" ng-click="openInformation()">
    </span>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <span class="button button-icon button-clear ion-android-more-vertical" ng-click="openPopover()">
    </span>
  </ion-nav-buttons>

  <ion-content scroll="false">
    <div class="row searchbox">
      <div class="list list-inset no-padding-right">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input id="searchLocation" g-places-autocomplete force-selection="true" options="autocompleteOptions"
                 ng-model="place" type="text"
                 placeholder="Standort eingeben">
        </label>
      </div>
      <div class="list list-inset no-padding-left">
        <button class="button-geolocation" ng-click="newGeolocation()">
          <i class="ion-ios-location"></i>
        </button>
      </div>
    </div>


    <tab-slide-box tab="0">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp row">
          <a href="javascript:" class="{{tab.icon}} col" ng-repeat="tab in tabs"
             on-finish-render="test()">{{tab.text}}</a>
        </div>
      </div>
      <ion-slide-box show-pager="false"
                     on-slide-changed="slideHasChanged($index)">
        <ion-slide>

          <div class="item item-text-wrap">
            <div ng-model="sortingOptions">
              <button ng-click="sortBreweries('distance')" class="sortorder"
                      ng-class="{active: activeSorting == 'distance'}">
                <i class="icon ion-android-radio-button-on"> km</i>
              </button>
              <button ng-click="sortBreweries('name')" class="sortorder" ng-class="{active: activeSorting == 'name'}">A
                -Z
              </button>
            </div>
          </div>
          <ion-scroll style="height:77%" delegate-handle="slide1Scroll">

            <!--Get a list from all breweries around the users location-->
            <ion-list>
              <ion-item ng-repeat="location in breweries"
                        ng-show="(location.locationType == filterLocationType || filterLocationType == 'allLocationTypes')">
              <ion-item>
                <a class="item item-thumbnail-left divider" ng-href="#/tab/list/{{location.brewery.id}}">
                  <img ng-src="{{location.brewery.images.icon || 'img/no-image-placeholder.png'}}">

                  <h2>{{location.brewery.name}}</h2>
                  <p>{{location.locality}} </p>
                  <i class="icon ion-chevron-right"></i>
                  <div class="infoicons">
                    <span><i class="icon ion-android-radio-button-on"></i> {{location.distance}} km</span>
                    <span ng-show="location.beers.length > 0"><i class="icon beeround-icon beeround-count"></i> {{location.beers.length}}</span>
                    <span ng-show="(location.openToPublic == 'Y')" ng-hide="location.locationType == 'restaurant' ||
                     location.locationType == 'brewpub' || location.locationType == 'tasting'">

                     <i class="icon ion-android-people"></i> Öffentlich</span>


                    <span ng-show="((location.openToPublic == 'Y') &&
                    (location.locationType == 'restaurant' ||
                     location.locationType == 'brewpub' ||
                     location.locationType == 'tasting'))">
                      <i class="icon beeround-icon restaurant"></i> Restaurant</span>
                  </div>

                </a>

              </ion-item>
              </ion-item>
            </ion-list>

            <ion-list ng-show="noData">
              <ion-item>
                <p>Keine Brauereien gefunden!</p>
              </ion-item>
            </ion-list>

          </ion-scroll>
        </ion-slide>
        <ion-slide>

          <div class="item item-text-wrap">
            <div ng-model="sortingOptions">
              <button ng-click="sortBeers('distance')" class="sortorder"
                      ng-class="{active: activeSorting == 'distance'}">
                <i class="icon ion-android-radio-button-on"> km</i>
              </button>
              <button ng-click="sortBeers('rating')" class="sortorder " ng-class="{active: activeSorting == 'rating'}">
                &nbsp;
                <i class="icon ion-ios-pint"></i><i class="icon ion-ios-pint"></i><i class="icon ion-ios-pint"
                                                                                     style="color: #C8C6C5"></i>
                &nbsp;
              </button>
              <button ng-click="sortBeers('name')" class="sortorder" ng-class="{active: activeSorting == 'name'}">A -Z
              </button>
            </div>
          </div>


          <ion-scroll style="height:77%">

            <!-- List for sorting by distance !-->
            <ion-list ng-show="activeSorting == 'distance'">
              <ion-item ng-repeat="location in breweries">

                <ion-item ng-show="!beerCategory || beer[beerCategory] > 50" ng-repeat="beer in location.beers">
                  <a class="item item-thumbnail-left divider" ng-href="#/tab/details/beer/{{beer.id}}">
                    <img ng-src="{{beer.images.icon || 'img/no-image-placeholder.png'}}">
                    <h2>{{beer.name}}</h2>
                    <p>{{location.brewery.name}}</p>
                    <i class="icon ion-chevron-right"></i>
                    <p ng-show="beer.style.abvMin" class="promille-number">
                      {{beer.style.abvMax}} <i class="icon beeround-icon promille"></i>
                    </p>
                    <div class="col rating">
                      <i class="ion-ios-pint" ng-class="{'active': beer.rating > 0}"></i>
                      <i class="ion-ios-pint" ng-class="{'active': beer.rating > 1}"></i>
                      <i class="ion-ios-pint" ng-class="{'active': beer.rating > 2}"></i>
                      <i class="ion-ios-pint" ng-class="{'active': beer.rating > 3}"></i>
                      <i class="ion-ios-pint" ng-class="{'active': beer.rating > 4}"></i>
                    </div>
                  </a>
                </ion-item>
              </ion-item>
            </ion-list>



            <ion-list>
              <ion-item  ng-show="!beerCategory || beer[beerCategory] > 50" ng-repeat="beer in allBeers | orderObjectBy:activeSorting: (activeSorting == 'rating')" >
              <ion-item>
                <a class="item item-thumbnail-left divider" ng-href="#/tab/details/beer/{{beer.id}}">
                  <img ng-src="{{beer.images.icon || 'img/no-image-placeholder.png'}}">
                  <h2>{{beer.name}}</h2>
                  <p>{{beer.brewery}}</p>
                  <i class="icon ion-chevron-right"></i>
                  <p ng-show="beer.style.abvMin" class="promille-number">
                    {{beer.style.abvMax}} <i class="icon beeround-icon promille"></i>
                  </p>

                  <div class="col rating">
                    <i class="ion-ios-pint" ng-class="{'active': beer.rating > 0}"></i>
                    <i class="ion-ios-pint" ng-class="{'active': beer.rating > 1}"></i>
                    <i class="ion-ios-pint" ng-class="{'active': beer.rating > 2}"></i>
                    <i class="ion-ios-pint" ng-class="{'active': beer.rating > 3}"></i>
                    <i class="ion-ios-pint" ng-class="{'active': beer.rating > 4}"></i>
                  </div>

                </a>
              </ion-item>
              </ion-item>
            </ion-list>

          </ion-scroll>
        </ion-slide>


        <ion-slide>
          <div class="item item-text-wrap">
            <div ng-model="sortingOptions">
              <button ng-click="sortBy('name')" class="sortorder" ng-class="{active: activeSorting == 'name'}">A -Z
              </button>
              <button ng-click="sortBy('distance')" class="sortorder" ng-class="{active: activeSorting == 'distance'}">
                <i class="icon ion-android-radio-button-on"> km</i>
              </button>
            </div>
          </div>
          <ion-scroll style="height:80%" delegate-handle="slide1Scroll">

            <!-- Beer Events around position !-->
            <ion-item class="card event-card" ng-repeat="beerEvent in beerEvents">
              <a class="item event-item" ng-href="#/tab/details/event/{{beerEvent.id}}">

                <div class="row">
                  <div class="col col-20">
                    <p class="event-day">{{beerEvent.start | date : "dd"}}</p>
                    <p>{{beerEvent.start | date : "MMMM"}}</p>
                  </div>
                  <div class="col col-80">
                    <h2>{{beerEvent.name}}</h2>
                    <i class="icon ion-chevron-right"></i>
                    <p>{{beerEvent.start | date : "EEE"}} {{beerEvent.start | date : "HH:mm"}}Uhr, {{beerEvent.city}} </p>

                    <p></p>
                  </div>
                </div>

              </a>
            </ion-item>

            <ion-list ng-show="noData">
              <ion-item>
                <p>Keine Events vorhanden</p>
              </ion-item>
            </ion-list>

          </ion-scroll>
        </ion-slide>

      </ion-slide-box>
    </tab-slide-box>


    <script id="filter.html" type="text/ng-template">
      <ion-popover-view>

      <ion-content>

        <!--Filter, in which radius the brewery should be away from the user-->
        <div class="overlay" ng-click="closePopover()"></div>
        <div ng-show="userSettings.lat" class="card">
          <i ng-click="closePopover()" class="icon ion-close-round"></i>

          <div class="filter">
            <h3>Radius</h3>
            <button ng-class="{'active' : userSettings.radius == 10}" ng-click="setRadius(10)">10km</button>
            <button ng-class="{'active' : userSettings.radius == 30}" ng-click="setRadius(30)">30km</button>
            <button ng-class="{'active' : userSettings.radius == 50}" ng-click="setRadius(50)">50km</button>
          </div>

          <div>
            <h3>Typ</h3>
            <button ng-class="{'active' : filterLocationType == 'brewpub'}" ng-click="setType('brewpub')">mit
              Restaurant
            </button>
            <button ng-class="{'active' : filterLocationType == 'allLocationTypes'}"
                    ng-click="setType('allLocationTypes')">ohne
              Restaurant
            </button>
          </div>

          <div ng-show="currentListView == 'Biere'">
            <h3>Biereigenschaften</h3>
            <button  ng-class="{'active' : beerCategory == ''}" ng-click="setCategory('')">Alle</button>
            <button  ng-class="{'active' : beerCategory == 'sueffig'}" ng-click="setCategory('sueffig')">Süffig</button>
            <button  ng-class="{'active' : beerCategory == 'malzig'}" ng-click="setCategory('malzig')">Malzig</button>
            <button  ng-class="{'active' : beerCategory == 'herb'}" ng-click="setCategory('herb')">Herb</button>
            <button  ng-class="{'active' : beerCategory == 'erfrischend'}" ng-click="setCategory('erfrischend')">Erfrischend</button>

          </div>

        </div>
      </ion-content>
      </ion-popover-view>
    </script>
    <script id="information.html" type="text/ng-template">
      <ion-popover-view>

        <ion-content>

          <!--Filter, in which radius the brewery should be away from the user-->
          <div  class="overlay" ng-click="closeInformation()"></div>
          <div class="card" >
            <i ng-click="closeInformation()" class="icon ion-close-round"></i>

            <div class="information-box">

            <button class="button-block"> Impressum </button>
            <button class="button-block"> Datenschutz </button>
            <button class="button-block"> Feedback geben </button>
            <button class="button-block"> App bewerten </button>
            <button class="button-block"> Rechtliches </button>
            </div>
          </div>




        </ion-content>
      </ion-popover-view>
    </script>

  </ion-content>


</ion-view>
