<ion-view title="Breweries">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input g-places-autocomplete force-selection="true" options="autocompleteOptions" ng-model="place" type="text"
               placeholder="Standort eingeben">
      </label>
    </div>

    <div class="card" ng-show="connectionError">
      <div class="item item-text-wrap">
        <h3>Ein Fehler ist aufgetreten</h3>
        <p>Bitte überprüfen Sie Ihre Internetverbindung.</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <h3>{{location.town || location.village}}</h3>
        <h3>Radius: {{userSettings.radius}}km</h3>
      </div>
    </div>

    <!-- Show when coordinates saved-->

    <div ng-show="userSettings.lat" class="card">
      <div class="item item-text-wrap">
        <label class="item item-input item-select">
          <div class="input-label">
            Zeige mir Brauereien oder Biere
          </div>

          <!--Filter, if the user sees a list with brewerys or beers.-->
          <select ng-model="listTypeSelect">
            <option value="breweryList">Brauereien</option>
            <option value="beerList">Biere</option>
          </select>
        </label>
      </div>
    </div>


    <!--Filter, in which radius the brewery should be away from the user-->
      <div ng-show="userSettings.lat" class="card">

      <div class="item item-text-wrap">
        <label class="item item-input item-select">
          <div class="input-label">
            Radius
          </div>
          <select ng-model="radiusSelect" ng-change="showSelectValue(radiusSelect)">
            <option ng-selected="userSettings.radius == 10">10 km</option>
            <option ng-selected="userSettings.radius == 20">20 km</option>
            <option ng-selected="userSettings.radius == 30">30 km</option>
            <option ng-selected="userSettings.radius == 40">40 km</option>
            <option selected ng-selected="userSettings.radius == 50">50 km</option>
          </select>
        </label>
      </div>
    </div>


    <!--Filter, in which locality the place should be-->
      <div ng-show="userSettings.lat" class="card">

      <div class="item item-text-wrap">
        <label class="item item-input item-select">
          <div class="input-label">
            Ort
          </div>
          <select ng-model="citySelect">
            <option selected value="allCities">Alle Orte anzeigen</option>
            <option ng-repeat="location in breweries"
                    value="{{location.locality}}">{{location.locality}}
            </option>
          </select>
        </label>
      </div>
    </div>

    <!--Filter, which type the brewery should be-->
    <div ng-show="lat" class="card">
      <div class="item item-text-wrap">
        <label class="item item-input item-select">
          <div class="input-label">
            Brauerei Typ
          </div>
          <select ng-model="filterLocationType">
            <option selected value="allLocationTypes">Alle Typen</option>
            <option value="micro">Kleinbrauerei</option>
            <option value="brewpub">Brauerei mit Restaurant</option>
            <option value="restaurant">Restaurant</option>
          </select>
        </label>
      </div>
    </div>

      <!--Sorting the brewery and beer list after name, rating and distance-->
      <div ng-model="sortingOptions">
        <button ng-click="sortBy('name')" class="sortorder"  ng-class="{active: active == 'name'}">Name </button>
        <button ng-click="sortBy('rating')" class="sortorder"  ng-class="{active: active == 'rating'}">Bewertung</button>
        <button ng-click="sortBy('distance')" class="sortorder"  ng-class="{active: active == 'distance'}">Entfernung</button>
      </div>

      <!--Get a list from all breweries around the users location-->
      <ion-list ng-show="listTypeSelect == 'breweryList'">
        <ion-item
          ng-show="(location.locationType == filterLocationType || filterLocationType == 'allLocationTypes') && (location.locality == citySelect || citySelect == 'allCities')"
          ng-repeat="location in breweries">
          <a class="item item-thumbnail-left" ng-href="#/tab/list/{{location.brewery.id}}">
            <img ng-src="{{location.brewery.images.icon || '/img/no-image-placeholder.png'}}">
            <h2 class="text-center">{{location.brewery.name}}</h2>
            <p class="text-center">{{location.locality}}</p>
            <p class="text-center">Entfernung:
              <strong>{{location.distance}}km</strong>
            </p>
            <p ng-show="location.openToPublic == 'Y'" class="text-center">Zugänglich für Öffentlichkeit</p>
            <p class="text-center">{{location.beers.length}} Biere</p>
          </a>
        </ion-item>
      </ion-list>

      <ion-list ng-show="listTypeSelect == 'beerList'">
        <ion-item ng-show="citySelect == 'allCities' || citySelect == location.locality"
                  ng-repeat="location in breweries">
          <a ng-href="#/tab/list/{{location.brewery.id}}">
            <h5>{{location.brewery.name}}</h5></a>
          <ion-item ng-repeat="beer in location.beers">
            <a class="item item-thumbnail-left" ng-href="#/tab/details/beer/{{beer.id}}">
              <img ng-src="{{beer.images.icon || '/img/no-image-placeholder.png'}}">
              <p class="text-center">{{beer.name}}</p>
              <p></p>
            </a>
          </ion-item>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
