<ion-view title="Beers">

  <ion-content>
    <h2>{{brewery.nameShortDisplay}}</h2>
    <p>{{brewery.locations[0].streetAddress}}</p>
    <p>{{brewery.locations[0].locality}}</p>

    <ion-list>
      <ion-item ng-repeat="beer in beerList">
        <a class="item item-thumbnail-left"  ng-href="#/tab/details/beer/{{beer.id}}">
          <img ng-src="{{beer.images.icon || '/img/no-image-placeholder.png'}}">
          <h2 class="text-center">{{beer.nameDisplay}}</h2>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
