<ion-view cache-view="false" view-title="Map">

  <ion-content scroll="false">
    <div class="row searchbox">
      <div class="list list-inset no-padding-right">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input id="searchLocation" g-places-autocomplete force-selection="true" options="autocompleteOptions" ng-model="place" type="text"
                 placeholder="Standort eingeben">
        </label>
      </div>
      <div class="list list-inset no-padding-left">
        <button class="button-geolocation" ng-click="newGeolocation()">
          <i class="ion-ios-location"></i>
        </button>
      </div>
    </div>




    <ng-map styles='[{"featureType": "poi.park","elementType": "geometry.fill","stylers": [{"color": "#87a323"}]},{"featureType": "road.highway","elementType": "geometry.fill","stylers": [{"color": "#f69c12"}]},{"featureType": "road.arterial","elementType": "geometry.fill","stylers": [{"color": "#fac73a"}]},{"featureType": "water","elementType": "geometry.fill","stylers": [{"color": "#0d7e96"}]}]' on-zoom_changed="zoomChanged()" zoom="{{zoom}}" center="{{userSettings.lat}}, {{userSettings.lng}}">
      <marker position="{{userSettings.lat}}, {{userSettings.lng}}" animation="Animation.BOUNCE" centered="true" icon='img/marker.png' ></marker>
      <marker ng-repeat="marker in markers" id="{{marker.id}}" position="{{marker.lat}},{{marker.lng}}" on-click="showDetails(marker, $index)" icon='img/beeround_marker_brown.png' ></marker>
    </ng-map>
    <div on-swipe-left="next()" on-swipe-right="prev()" ng-show="selectedBrewery" class="detailbox">
      <div class="beer-details">
      <i class="ion-android-close" style="float:right" ng-click="closeDetails()"></i>
      <h3>{{selectedBrewery.name}}</h3>
      <div class="item divider">
      <p>{{selectedBrewery.address}}</p>
      <p style="padding-bottom: 5px">{{selectedBrewery.plz}} {{selectedBrewery.city}}</p>
      </div>
        <div ng-show="selectedBrewery.beers && selectedBrewery.events">
          <span><i class="ion-ios-pint"></i>{{selectedBrewery.beers.length}} Biere</span>
          <span><i class="ion-ios-calendar"></i>{{selectedBrewery.events.length}} Events</span>
        </div>
      </div>





    </div>


  </ion-content>


</ion-view>
