<ion-view view-title="Map">

  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <h3>{{location.town || location.village}}</h3>
        <h3>Radius: {{userSettings.radius}}km</h3>
      </div>
    </div>
    <ng-map zoom="{{zoom}}" center="{{userSettings.lat}}, {{userSettings.lng}}">
      <marker position="{{userSettings.lat}}, {{userSettings.lng}}" animation="Animation.BOUNCE" centered="true"></marker>
      <marker ng-repeat="marker in markers" id="{{marker.id}}" position="{{marker.lat}},{{marker.lng}}" on-click="showTextbox({{marker}})"></marker>
      <info-window id="overlay">
        <div>
          <h5>{{boxContent.name}}</h5>
          <p>{{boxContent.lat}}, {{boxContent.lng}}</p>
        </div>
      </info-window>

    </ng-map>
  </ion-content>


</ion-view>
