<ion-view cache-view="false" title="Eventdetails">
  <ion-content>

           <img class="brewery-image" src="img/event_thumbnail.png">
          <ion-item class="contact-button">
            <button ng-show="event.phone" type="button" ng-click="formatNumber(event.phone)" class="invert-button icon ion-ios-telephone"></button>
            <button ng-show="event.email" ng-click="sendMail(event.email)" class="invert-button icon ion-android-mail"></button>
          </ion-item>

    <ion-item class="brewery-contact">
      <ion-item class="brewery-thumbnail">


        <div class="row divider">
          <div class="col col-20">
            <p class="event-day">{{event.start | date : "dd"}}</p>
            <p>{{event.start | date : "MMMM"}}</p>
          </div>
          <div class="col col-60">
            <h2>{{event.name}}</h2>
            <p>{{event.start | date : "EEE"}} {{event.start | date : "HH:mm"}}Uhr, {{event.city}} </p>
          </div>
          <div class="col-20">
            <p class="event-price">{{event.price}} €</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col"><p style="white-space: normal">{{event.description}}</p></div>
        </div>
          <br>


        <div class="row">
          <div class="col col-10">
            <i class="ion-ios-clock"></i>
          </div>
          <div class="col col-90">
            <p class="black">{{event.start | date : "EEEE"}} {{event.start | date : "HH:mm"}} - {{event.end | date : "HH:mm"}} Uhr</p>
          </div>
        </div>

        <div class="row">
          <div class="col col-10"><i class="ion-ios-location"></i></div>
          <div class="col col-90">
              <a ng-href="https://www.google.com/maps/dir/Current+Location/'{{event.street}}+{{event.street_number}}+{{event.postal_code}}", target="_blank"> {{event.street}} {{event.street_number}}, {{event.postal_code}} {{event.city}}</a></div>
        </div>

        <div class="row">
          <div class="col col-10"><i class="ion-earth"></i>
            </div>
          <div class="col col-90">
            <a ng-href="{{event.website}}, '_system" >beeround.de</a>
          </div>
          </div>

        <div class="row">
          <div class="col col-10"><i class="ion-social-facebook"></i></div>
          <div class="col col-90"><a ng-href="{{event.facebook}}, '_system">facebook.com/beeround</a></div>
        </div>

        <button class="button-block" ng-click="createEvent()">zu kalender hinzufügen</button>
      </ion-item>
    </ion-item>
  </ion-content>
</ion-view>
