<ion-view cache-view="false" view-title="Datenschutz">
  <ion-nav-buttons side="right">
    <span class="button button-icon button-clear ion-ios-information-empty" ng-click="openInformation()">
    </span>
  </ion-nav-buttons>
  <ion-content>
    <div class="rechtliches">
      <h1>Datenschutzerkl&auml;rung</h1>
      <h2>Datenschutz</h2>
      <p>Die Betreiber dieser Seiten nehmen
        den Schutz Ihrer pers&ouml;nlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten
        vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
        Datenschutzerkl&auml;rung.</p>
      <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe
        personenbezogener Daten m&ouml;glich. Soweit auf unseren Seiten personenbezogene Daten
        (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit
        m&ouml;glich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdr&uuml;ckliche Zustimmung
        nicht an Dritte weitergegeben.</p>
      <p>Wir weisen darauf hin, dass die Daten&uuml;bertragung im Internet
        (z.B. bei der Kommunikation per E-Mail) Sicherheitsl&uuml;cken aufweisen kann. Ein l&uuml;ckenloser
        Schutz der Daten vor dem Zugriff durch Dritte ist nicht m&ouml;glich.</p>
      <p>&nbsp;</p>
      <h2>
        Cookies</h2>
      <p>Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem
        Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot
        nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem
        Rechner abgelegt werden und die Ihr Browser speichert.</p>
      <p>Die meisten der von uns verwendeten
        Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch
        gel&ouml;scht. Andere Cookies bleiben auf Ihrem Endger&auml;t gespeichert, bis Sie diese l&ouml;schen.
        Diese Cookies erm&ouml;glichen es uns, Ihren Browser beim n&auml;chsten Besuch
        wiederzuerkennen.</p>
      <p>Sie k&ouml;nnen Ihren Browser so einstellen, dass Sie &uuml;ber das Setzen
        von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies f&uuml;r
        bestimmte F&auml;lle oder generell ausschlie&szlig;en sowie das automatische L&ouml;schen der
        Cookies beim Schlie&szlig;en des Browser aktivieren. Bei der Deaktivierung von Cookies kann die
        Funktionalit&auml;t dieser Website eingeschr&auml;nkt sein.</p>
      <p>&nbsp;</p>
      <h2>Server-Log-
        Files</h2>
      <p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten
        Server-Log Files, die Ihr Browser automatisch an uns &uuml;bermittelt. Dies sind:</p>
      <ul>
        <li>
          Browsertyp und Browserversion
        </li>
        <li>verwendetes Betriebssystem</li>
        <li>Referrer URL</li>
        <li>
          Hostname des zugreifenden Rechners
        </li>
        <li>Uhrzeit der Serveranfrage</li>
      </ul>
      <p><br/>Diese Daten
        sind nicht bestimmten Personen zuordenbar. Eine Zusammenf&uuml;hrung dieser Daten mit anderen
        Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachtr&auml;glich zu
        pr&uuml;fen, wenn uns konkrete Anhaltspunkte f&uuml;r eine rechtswidrige Nutzung bekannt werden.</p>
      <p>&nbsp;</p>
      <h2>Datenschutzerkl&auml;rung f&uuml;r die Nutzung von Google Analytics</h2>
      <p>
        Diese Website nutzt Funktionen des Webanalysedienstes Google Analytics. Anbieter ist die Google Inc.,
        1600 Amphitheatre Parkway Mountain View, CA 94043, USA.</p>
      <p>Google Analytics verwendet so
        genannte "Cookies". Das sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine
        Analyse der Benutzung der Website durch Sie erm&ouml;glichen. Die durch den Cookie erzeugten
        Informationen &uuml;ber Ihre Benutzung dieser Website werden in der Regel an einen Server von Google
        in den USA &uuml;bertragen und dort gespeichert.</p>
      <p>Mehr Informationen zum Umgang mit
        Nutzerdaten bei Google Analytics finden Sie in der Datenschutzerkl&auml;rung von Google: <a
          ng-href="https://support.google.com/analytics/answer/6004245?hl=de">
          https://support.google.com/analytics/answer/6004245?hl=de</a></p>
      <p><strong>Browser
        Plugin</strong></p>
      <p>Sie k&ouml;nnen die Speicherung der Cookies durch eine entsprechende
        Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall
        gegebenenfalls nicht s&auml;mtliche Funktionen dieser Website vollumf&auml;nglich werden nutzen
        k&ouml;nnen. Sie k&ouml;nnen dar&uuml;ber hinaus die Erfassung der durch den Cookie erzeugten und
        auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung
        dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link verf&uuml;gbare Browser-
        Plugin herunterladen und installieren: <a ng-href="https://tools.google.com/dlpage/gaoptout?hl=de">
          https://tools.google.com/dlpage/gaoptout?hl=de</a></p>
      <p><strong>Widerspruch gegen
        Datenerfassung</strong></p>
      <p>Sie k&ouml;nnen die Erfassung Ihrer Daten durch Google Analytics
        verhindern, indem Sie auf folgenden Link klicken. Es wird ein Opt-Out-Cookie gesetzt, der die Erfassung
        Ihrer Daten bei zuk&uuml;nftigen Besuchen dieser Website verhindert: mail@domi-speh.de</p>
      <p><strong>Auftragsdatenverarbeitung</strong></p>
      <p>Wir
        haben mit Google einen Vertrag zur Auftragsdatenverarbeitung abgeschlossen und setzen die strengen
        Vorgaben der deutschen Datenschutzbeh&ouml;rden bei der Nutzung von Google Analytics
        vollst&auml;ndig um.</p>
      <p><strong>IP-Anonymisierung</strong></p>
      <p>Wir nutzen die Funktion
        &quot;Aktivierung der IP-Anonymisierung&quot; auf dieser Webseite. Dadurch wird Ihre IP-Adresse von
        Google jedoch innerhalb von Mitgliedstaaten der Europ&auml;ischen Union oder in anderen
        Vertragsstaaten des Abkommens &uuml;ber den Europ&auml;ischen Wirtschaftsraum zuvor
        gek&uuml;rzt. Nur in Ausnahmef&auml;llen wird die volle IP-Adresse an einen Server von Google in den
        USA &uuml;bertragen und dort gek&uuml;rzt. Im Auftrag des Betreibers dieser Website wird Google diese
        Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports &uuml;ber die
        Websiteaktivit&auml;ten zusammenzustellen und um weitere mit der Websitenutzung und der
        Internetnutzung verbundene Dienstleistungen gegen&uuml;ber dem Websitebetreiber zu erbringen. Die im
        Rahmen von Google Analytics von Ihrem Browser &uuml;bermittelte IP-Adresse wird nicht mit anderen
        Daten von Google zusammengef&uuml;hrt.
      <p>&nbsp;</p>
      <h2>Kommentarfunktion auf dieser
        Webseite</h2>
      <p>F&uuml;r die Kommentarfunktion auf dieser Seite werden neben Ihrem Kommentar
        auch Angaben zum Zeitpunkt der Erstellung des Kommentars, Ihre E-Mail-Adresse und, wenn Sie nicht
        anonym posten, der von Ihnen gew&auml;hlte Nutzername gespeichert.</p>
      <h2>Einbindung von Diensten und Inhalten Dritter</h2>
      <p>
        Es kann vorkommen, dass innerhalb dieses Onlineangebotes Inhalte Dritter, wie zum Beispiel Videos von YouTube,
        Kartenmaterial von Google-Maps, RSS-Feeds oder Grafiken von anderen Webseiten eingebunden werden. Dies setzt
        immer
        voraus, dass die Anbieter dieser Inhalte (nachfolgend bezeichnet als "Dritt-Anbieter") die IP-Adresse der Nutzer
        wahr nehmen. Denn ohne die IP-Adresse, könnten sie die Inhalte nicht an den Browser des jeweiligen Nutzers
        senden.
        Die IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich. Wir bemühen uns nur solche Inhalte zu
        verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Jedoch
        haben
        wir keinen Einfluss darauf, falls die Dritt-Anbieter die IP-Adresse z.B. für statistische Zwecke speichern.
        Soweit
        dies uns bekannt ist, klären wir die Nutzer darüber auf.</p>
      <h2>Auskunft, L&ouml;schung, Sperrung</h2>
      <p>Sie haben jederzeit das Recht auf unentgeltliche Auskunft
        &uuml;ber Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empf&auml;nger und den
        Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder L&ouml;schung dieser
        Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten k&ouml;nnen Sie sich
        jederzeit unter der im Impressum angegebenen Adresse an uns wenden.</p>
    </div>
    <p>Quelle: <a target="_blank" href="https://www.erecht24.
de">eRecht24</a></p>
    <script id="information.html" type="text/ng-template">
      <ion-popover-view>

        <ion-content>

          <!--Filter, in which radius the brewery should be away from the user-->
          <div class="overlay" ng-click="closeInformation()"></div>
          <div class="card">
            <i ng-click="closeInformation()" class="icon ion-close-round"></i>

            <div class="information-box">
              <a class="button-block" ng-click="closeInformation()" ng-href="#/tab/company/impressum">
                <button class="button-block">Impressum</button>
              </a>
              <a class="button-block" ng-click="closeInformation()" ng-href="#/tab/company/tools">
                <button class="button-block">Benutzte Tools</button>
              </a>
              <!--<button class="button-block" ng-click="sendMail()"> Feedback senden</button>-->
              <!--<a class="button-block" ng-href="https://play.google.com/store/apps?hl=de" target="_blank">-->
                <!--<button class="button-block">App bewerten</button>-->
              <!--</a>-->
              <a class="button-block" ng-click="closeInformation()" ng-href="#/tab/list">
                <button class="button-block">Zurück zur Brauerei Liste</button>
              </a>
            </div>
          </div>

        </ion-content>
      </ion-popover-view>
    </script>
  </ion-content>
</ion-view>
