<ion-view cache-view="false" view-title="Benutzte Tools">
  <ion-nav-buttons side="right">
    <span class="button button-icon button-clear ion-ios-information-empty" ng-click="openInformation()">
    </span>
  </ion-nav-buttons>
  <ion-content>
    <ion-item>
      <h1>Benutzte Tools und Programme</h1>
      <p></p>
    </ion-item>
    <script id="information.html" type="text/ng-template">
      <ion-popover-view>

        <ion-content>

          <!--Filter, in which radius the brewery should be away from the user-->
          <div  class="overlay" ng-click="closeInformation()"></div>
          <div class="card" >
            <i ng-click="closeInformation()" class="icon ion-close-round"></i>

            <div class="information-box">
              <a class="button-block" ng-click="closeInformation()" ng-href="#/tab/company/impressum"><button class="button-block">Impressum</button></a>
              <a class="button-block" ng-click="closeInformation()" ng-href="#/tab/company/datenschutz"><button class="button-block">Datenschutz</button></a>
              <button class="button-block" ng-click="sendMail()"> Feedback senden </button>
              <a class="button-block" ng-href="https://play.google.com/store/apps?hl=de" target="_blank"><button class="button-block">App bewerten</button></a>
              <a class="button-block" ng-click="closeInformation()" ng-href="#/tab/list"><button class="button-block">Brauerei Liste</button></a>
            </div>
          </div>




        </ion-content>
      </ion-popover-view>
    </script>
  </ion-content>
</ion-view>
