<ion-view cache-view="false" view-title="Bier hinzufügen">

  <ion-content>
    <ion-item>
    <form ng-submit="addBeer()">
      <div class="list list-inset">

        <label class="beer-sorts item-input item-stacked-label">
          <p class="input-label">Biername</p>
          <input class="edit-input" ng-model="addBeerForm.name" placeholder="Bspw. Stuttgarter Hofbräu" name="name" type="text">
        </label>

        <p class="input-label" style="padding-bottom: 0px">Biersorte</p>

        <label class="select-beer item-input item-select">
          <select ng-model='form.type' required
                  ng-options='option.value as option.name for option in typeOptions'>Biersorten</select>
        </label>

        <label class="beer-sorts item-input item-stacked-label">
          <p class="input-label">Promillegehalt</p>
          <input class="edit-input" ng-model="addBeerForm.abv" placeholder="5.0" name="beerform.abv" type="text">
        </label>

        <button type="submit" class="button-block">Bier hinzufügen</button>
      </div>
    </form>
    </ion-item>
  </ion-content>
</ion-view>
