<ion-view cache-view="false" view-title="Bier hinzufügen">

  <ion-content>
    <ion-item>
    <form ng-submit="addBeer()">
      <div class="list list-inset">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Biername</span>
          <input ng-model="addBeerForm.name" placeholder="Bspw. Stuttgarter Hofbräu" name="name" type="text" required>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Biersorten
          </div>
          <select ng-model="addBeerForm.styleId" required>
            <option ng-value="75">Pils</option>
            <option ng-value="48">Weizenbier</option>
            <option ng-value="49">Kristallweizen</option>
            <option ng-value="52">Dunkles Weizen</option>
            <option ng-value="77">Lager</option>
            <option ng-value="78">Helles</option>
            <option ng-value="90">Starkbier</option>
            <option ng-value="79">Export</option>
            <option ng-value="45">Kölsch</option>
            <option ng-value="84">Schwarzbier / Dunkelbier</option>
            <option ng-value="81">Märzen</option>
            <option ng-value="92">Zwickelbier / Kellerbier</option>
            <option ng-value="54">Rauchbier</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Promillegehalt</span>
          <input ng-model="addBeerForm.abv" placeholder="5.0" name="beerform.abv" type="text" required>
        </label>
        <button type="submit" class="button button-dark">Bier hinzufügen</button>
      </div>
    </form>
    </ion-item>
  </ion-content>
</ion-view>
