<ion-view cache-view="false" view-title="Bier hinzufügen">

  <ion-content>
    <ion-item>
    <form ng-submit="addBeer()">
      <div class="list list-inset">
        <label class="item item-input item-stacked-label input-field">
          <span class="input-label">Biername</span>
          <input ng-model="addBeerForm.name" placeholder="Bspw. Stuttgarter Hofbräu" name="name" type="text">
        </label>
        <label class="item item-input item-select">
          Biersorte
          <select ng-model='form.type'
                  ng-options='option.value as option.name for option in typeOptions'>Biersorten</select>
        </label>
        <label class="item item-input item-stacked-label input-field">
          <span class="input-label">Promillegehalt</span>
          <input ng-model="addBeerForm.abv" placeholder="5.0" name="beerform.abv" type="text">
        </label>
        <button type="submit" class="button border-button">Bier hinzufügen</button>
      </div>
    </form>
    </ion-item>
  </ion-content>
</ion-view>
