<ion-view cache-view="false" title="Bierdetails">
  <ion-nav-buttons side="right">
    <div ng-show="$ionicUser.id">
    <a ng-click="showOptions()" class="button button-clear ion-edit">
    </a>
    </div>

  </ion-nav-buttons>
  <ion-content>
        <ion-slides options="data.sliderOptions" slider="data.sliderDelegate">
          <ion-slide-page>
            <div class="full-width">
              <img ng-src="{{beer.images.icon || 'img/beerdetail_v1.jpg'}}">
            </div>
          </ion-slide-page>
          <ion-slide-page>
            <div class="full-width">
              <img ng-src="{{beer.images.icon || 'img/beerdetail_v1.jpg'}}">
            </div>
          </ion-slide-page>
          <ion-slide-page>
            <div class="full-width">
              <img ng-src="{{beer.images.icon || 'img/beerdetail_v1.jpg'}}">
            </div>
          </ion-slide-page>
        </ion-slides>

    <div class="fadein" ng-click="showDiv=true" ng-show="!showDiv">
    <i class="icon ion-android-cancel"></i>
    <ion-item class="card box">

      <div class="row">
        <div class="col col-66">
          <p>
            Deine Bewertung
          </p>
        </div>
        <div class="col rating">
          <i class="small-icon ion-ios-pint" ng-class="{'active': currentRating > 0}"></i>
          <i class="small-icon ion-ios-pint" ng-class="{'active': currentRating > 1}"></i>
          <i class="small-icon ion-ios-pint" ng-class="{'active': currentRating > 2}"></i>
          <i class="small-icon ion-ios-pint" ng-class="{'active': currentRating > 3}"></i>
          <i class="small-icon ion-ios-pint" ng-class="{'active': currentRating > 4}"></i>
        </div>
      </div>
    </ion-item>
    </div>


    <ion-item>
      <div class="row">
        <div class="col">
          <h2>{{beer.nameDisplay}}</h2>
        </div>
        <div class="col rating">
          <i class="small-icon ion-ios-pint" ng-class="{'active': beer.rating > 0}"></i>
          <i class="small-icon ion-ios-pint" ng-class="{'active': beer.rating > 1}"></i>
          <i class="small-icon ion-ios-pint" ng-class="{'active': beer.rating > 2}"></i>
          <i class="small-icon ion-ios-pint" ng-class="{'active': beer.rating > 3}"></i>
          <i class="small-icon ion-ios-pint" ng-class="{'active': beer.rating > 4}"></i>
        </div>

        <!--Anzahl Bewertungen-->
        <!--<div class="col">
          <i class="characteristicsCount">{{beer.characteristicsCount}} Bewertungen</i>
        </div>-->
      </div>
    </ion-item>

    <ion-item>
    <div ng-show="beer.avgSueffig" class="characteristics">
      <div class="row">

        <div class="col col-25"><p>sueffig</p></div>
        <div class="col col-60">
          <div class="characteristicBar" ng-style="{ 'width' : beer.avgSueffig+'%'}"></div>
        </div>
        <div class="col col-20">
          <p class="characteristicsInfo">{{beer.avgSueffig}} %</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-25"><p>malzig</p></div>
        <div class="col col-60">
          <div class="characteristicBar" ng-style="{ 'width' : beer.avgMalzig+'%'}"></div>
        </div>
        <div class="col col-20">
          <p class="characteristicsInfo">{{beer.avgMalzig}} %</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-25"><p>herb</p></div>
        <div class="col col-60">
          <div class="characteristicBar" ng-style="{ 'width' : beer.avgHerb+'%'}"></div>
        </div>
        <div class="col col-20">
          <p class="characteristicsInfo">{{beer.avgHerb}} %</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-25"><p>erfrischend</p></div>
        <div class="col col-60">
          <div class="characteristicBar" ng-style="{ 'width' : beer.avgErfrischend+'%'}"></div>
        </div>
        <div class="col col-20">
          <p class="characteristicsInfo">{{beer.avgErfrischend}} %</p>
        </div>
      </div>
    </div>
    </ion-item>

    <ion-item class="rateBeer">
      <div ng-show="$ionicUser.id">
        <a ng-click="logBeer()" class="button text-center button-block invert-button">Jetzt trinken</a>
      </div>

      <div ng-show="!$ionicUser.id">
        <a ng-href="#/tab/account/login" class="button text-center button-block invert-button">beer in to rate</a>
      </div>
    </ion-item>


    <ion-item>
    <div class="item">
      <ion-list>
        <h3>Kommentare</h3>
        <ion-item class="feed item-thumbnail-left divider" ng-repeat="comment in comments">
          <img class="small-img" ng-src="{{comment.userimage || 'img/no-image-placeholder.png'}}">
          <p class="commentDate">{{comment.commentcreated | date : "dd.MM.yyyy - HH:mm" : '-0000'}}</p>
          <h4>{{comment.username}}</h4>
          <div ng-show="comment.image">
            <img ng-src="{{comment.image}}" alt="" width="250">
          </div>
          <div ng-show="!comment.image">
            <p>{{comment.comment}}</p>
          </div>
        </ion-item>

      </ion-list>
    </div>
    </ion-item>






    <script id="image-preview.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header">
          <h1 class="title">Bildupload</h1>
          <button class="button button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content>
          <img ng-src="{{srcImage}}" id="srcImage" width="250" style="display: block; margin: 40px auto;"/><br/>
          <hr>
          <button ng-click="uploadImage()">Bild hochladen </button>
          <button ng-click="showOptions()">Wiederholen</button>

        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>
