<ion-view cache-view="false" view-title="Bier bearbeiten">
  <ion-content>
    <ion-item class="item">

    <form ng-submit="editBeer()">
      <div class="list list-inset">
        <label class="beer-sorts item-input item-stacked-label">
          <p class="input-label">Biername</p>
          <input class="edit-input" ng-model="beerform.name" placeholder="{{beer.name}}" name="beerform.name" type="text" required>
        </label>

        <p class="input-label">Biersorte</p>
        <label class="select-beer item-input item-select">
          <select ng-model='form.type' required
                  ng-options='option.value as option.name for option in typeOptions'>Biersorten</select>
        </label>
        <label class="beer-sorts item-input item-stacked-label">
          <span class="input-label">Promille</span>
          <input class="edit-input" ng-model="beerform.abv" value="{{beerform.abv}}" name="beerform.abv" type="text">
        </label>

        <button type="submit" class="button-block">Daten ändern</button>
      </div>
    </form>
    </ion-item>

  </ion-content>
</ion-view>
