<ion-view title="bewertung">

  <ion-content>
    <ion-item>
    <!--<h1>{{beer.nameDisplay}}</h1> -->

    <div class="rating">
      <h3>{{beer.nameDisplay}}</h3>
      <div class="row">
        <div class="col col-20 text-center">
          <button ng-click="negativeRating()" class="control">-</button>
        </div>
        <div class="col col-60 text-center">
          <i class="ion-ios-pint" ng-class="{'active': currentRating > 0}"></i>
          <i class="ion-ios-pint" ng-class="{'active': currentRating > 1}"></i>
          <i class="ion-ios-pint" ng-class="{'active': currentRating > 2}"></i>
          <i class="ion-ios-pint" ng-class="{'active': currentRating > 3}"></i>
          <i class="ion-ios-pint" ng-class="{'active': currentRating > 4}"></i>
        </div>
        <div class="col col-20 text-center">
          <button ng-click="positivRating()" class="control" >+</button>
        </div>
      </div>
    </div>

      <div class="list divider ratingComment">
        <label class="item item-input item-floating-label commentTitle">
          <span class="input-label">Titel deiner Bewertung</span>
          <input type="text" placeholder="Titel deiner Bewertung" ng-model="form.commentTitle">
        </label>
        <label class="item item-input item-floating-label commentText">
          <span class="input-label"> Dein Kommentar </span>
          <textarea placeholder="Dein Kommentar" ng-model="form.comment"></textarea>
        </label>
      </div>

      <div class="information">

      <!--CSS STYLE
      .characteristics.row.col-25{ padding-top: 10px;}
      .rzslider .rz-pointer {background-color:#F1A435;}
      .rzslider .rz-pointer:after {background-color:#773D17;}
      .rzslider .rz-tick {background:#C8C6C5;}
      .rzslider {margin: 15px 0 35px 0;}
      -->
      <button ng-click="changeCharacteristicsWindow()"><i class="icon ion-android-favorite"></i> Eigenschaften</button>
      <div ng-show="characteristicsWindow" class="characteristics">
      <div class="row">
        <div class="col col-25"><span>sueffig</span></div>
        <div class="col col-75">
          <rzslider rz-slider-model="sliderSueffig.value"  rz-slider-options="slider.options"></rzslider>
        </div>
      </div>
      <div class="row">
        <div class="col col-25"><span>malzig</span></div>
        <div class="col col-75">
          <rzslider rz-slider-model="sliderMalzig.value"  rz-slider-options="slider.options"></rzslider>
        </div>
      </div>
      <div class="row">
        <div class="col col-25"><span>herb</span></div>
        <div class="col col-75">
          <rzslider rz-slider-model="sliderHerb.value"  rz-slider-options="slider.options"></rzslider>
        </div>
      </div>
      <div class="row">
        <div class="col col-25"><span>erfrischend</span></div>
        <div class="col col-75">
          <rzslider rz-slider-model="sliderErfrischend.value"  rz-slider-options="slider.options"></rzslider>
        </div>
      </div>
      </div>


        <button ng-click="showOptions()"><i class="icon ion-android-image"></i> Bild/Foto</button>
        <button><i class="icon ion-ios-location"></i> Ich trinke hier</button>

    </div>


  <div class="comment divider">
    <h3>Kommentar</h3>
        <textarea name="comments" ng-model="form.comment" id="comment" cols="30" rows="10"></textarea>
  </div>

    </ion-item>

    <ion-item class="bottom">
      <button ng-click="sendComment()" class="button-block invert-button">bier bewerten</button>
    </ion-item>


    <script id="image-preview.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header">
          <h1 class="title">Bildupload</h1>
          <button class="button button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content>
          <img ng-src="{{srcImage}}" id="srcImage" width="250" style="display: block; margin: 40px auto;"/><br/>
          <hr>
          <button ng-click="uploadImage()">Bild hochladen </button>
          <button ng-click="showOptions()">Wiederholen</button>

        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>

</ion-view>
