<ion-view title="bewertung">

  <ion-content>
    <ion-item>
    <!--<h1>{{beer.nameDisplay}}</h1> -->

    <div class="rating">
      <h1>{{beer.nameDisplay}}</h1>
      <div class="row">
        <div class="col col-20 text-center">
          <button ng-click="negativeRating()" class="button-brown">-</button>
        </div>
        <div class="col col-60 text-center">
          <i class="ion-ios-pint" ng-class="{'active': currentRating > 0}"></i>
          <i class="ion-ios-pint" ng-class="{'active': currentRating > 1}"></i>
          <i class="ion-ios-pint" ng-class="{'active': currentRating > 2}"></i>
          <i class="ion-ios-pint" ng-class="{'active': currentRating > 3}"></i>
          <i class="ion-ios-pint" ng-class="{'active': currentRating > 4}"></i>
        </div>
        <div class="col col-20 text-center">
          <button ng-click="positivRating()" class="button-brown" >+</button>
        </div>
      </div>
    </div>

      <div class="list">
        <label class="item item-input item-floating-label edit-beer">
          <input class="edit-input" type="text" placeholder="Titel deiner Bewertung" ng-model="form.commentTitle">
        </label>
        <label class="item item-input item-floating-label edit-beer">
          <textarea class="commentText" placeholder="Dein Kommentar" ng-model="form.comment"></textarea>
        </label>
      </div>

      <div class="information">
      <button class="button-invert" ng-click="changeCharacteristicsWindow()"><i class="icon ion-android-favorite"></i> Eigenschaften</button>
        <button class="button-invert" ng-click="showOptions()"><i class="icon ion-android-image"></i> Bild/Foto</button>

        <div ng-show="characteristicsWindow" class="characteristics">
          <div class="row">
            <div class="col-75 col-offset-25">
              <div class="row">
                <div class="col"><p style="text-align: left">wenig</p></div>
                <div class="col"><p style="text-align: center">0</p></div>
                <div class="col"><p style="text-align: right">sehr</p></div>
              </div>

            </div>
          </div>
          <div class="row">
        <div class="col col-25"><p>sueffig</p></div>
        <div class="col col-75">
          <rzslider rz-slider-model="sliderSueffig.value"  rz-slider-options="slider.optionsmin"></rzslider>
        </div>
      </div>
      <div class="row">
        <div class="col col-25"><p>malzig</p></div>
        <div class="col col-75">
          <rzslider rz-slider-model="sliderMalzig.value"  rz-slider-options="slider.optionsmin"></rzslider>
        </div>
      </div>
      <div class="row">
        <div class="col col-25"><p>herb</p></div>
        <div class="col col-75">
          <rzslider rz-slider-model="sliderHerb.value"  rz-slider-options="slider.optionsmin"></rzslider>
        </div>
      </div>
      <div class="row">
        <div class="col col-25"><p>erfrischend</p></div>
        <div class="col col-75">
          <rzslider rz-slider-model="sliderErfrischend.value"  rz-slider-options="slider.optionsmin"></rzslider>
        </div>
      </div>
      </div>



    </div>




    </ion-item>

    <ion-item class="bottom">
      <button ng-click="sendComment()" class="button-block invert-button">bier bewerten</button>
    </ion-item>


    <script id="image-preview.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header">
          <h1 class="title">Bildupload</h1>
          <button class="button button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content>
          <img ng-src="{{srcImage}}" id="srcImage" width="250" style="display: block; margin: 40px auto;"/><br/>
          <hr>
          <button ng-click="uploadImage()">Bild hochladen </button>
          <button ng-click="showOptions()">Wiederholen</button>

        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>

</ion-view>
