<ion-view cache-view="false"  title="Brauerei">

    <ion-content scroll="false">
        <ion-scroll style="height:100%">
            <img class="brewery-image" src="img/brauerei_thumbnail.png">
            <ion-item class="contact-button">
              <button ng-show="brewery.locations[0].phone" type="button" ng-click="formatNumber(brewery.locations[0].phone)" class="invert-button icon ion-ios-telephone"></button>
                <a ng-href="https://www.google.com/maps/dir/?api=1&destination={{brewery.locations[0].latitude}},{{brewery.locations[0].longitude}}">
                    <button class="invert-button icon ion-ios-location"></button>
                </a>
            </ion-item>

            <ion-item class="brewery-contact">
                <ion-item class="brewery-thumbnail">
                    <h1>{{brewery.nameShortDisplay}}</h1>
                    <p>{{brewery.locations[0].streetAddress}}<br>{{brewery.locations[0].postalCode}}
                        {{brewery.locations[0].locality}}</p>
                    <p>{{brewery.locations[0].phone}}</p>
                </ion-item>

              <div><button ng-click="activeWindow = 'beer'" ng-class="{'active':activeWindow=='beer'}">Biere</button>
                <button ng-click="activeWindow = 'events'">Events</button></div>
                <ion-list ng-show="activeWindow == 'beer'">
                    <ion-item ng-repeat="beer in beerList">
                        <a class="item item-thumbnail-left divider" ng-href="#/tab/details/beer/{{beer.id}}">
                            <img ng-src="{{beer.images.icon || 'img/no-image-placeholder.png'}}">
                            <h2>{{beer.nameDisplay}}</h2>
                          <p>{{brewery.nameShortDisplay}}</p>
                          <i class="icon ion-chevron-right"></i>
                              <p ng-show="beer.style.abvMin" class="promille-number">
                                {{beer.style.abvMax}} <i class="icon beeround-icon promille"></i>
                              </p>
                          <div class="col rating">
                                <i class="ion-ios-pint" ng-class="{'active': beer.rating.avg_rating > 0}"></i>
                                <i class="ion-ios-pint" ng-class="{'active': beer.rating.avg_rating > 1}"></i>
                                <i class="ion-ios-pint" ng-class="{'active': beer.rating.avg_rating > 2}"></i>
                                <i class="ion-ios-pint" ng-class="{'active': beer.rating.avg_rating > 3}"></i>
                                <i class="ion-ios-pint" ng-class="{'active': beer.rating.avg_rating > 4}"></i>
                              </div>
                        </a>
                    </ion-item>
                </ion-list>
            <ion-list ng-show="activeWindow == 'events'">
              <ion-item class="card" ng-repeat="event in eventList">
                <a class="item item-thumbnail-left divider" ng-href="#/tab/details/event/{{event.id}}">
                  <div class="item divider">
                    <h2>{{event.name}}</h2>
                    <p>{{event.city}} </p>
                    <i class="icon ion-chevron-right"></i>
                    <p>Beginn: {{event.start | date : "dd.MMM.yyyy HH:mm"}}</p>
                    <p>Ende: {{event.end | date : "dd.MMM.yyyy HH:mm"}}</p>
                  </div>
                </a>
              </ion-item>
            </ion-list>

            </ion-item>
        </ion-scroll>


        <ion-list ng-show="noData">
            <ion-item>
                <p>Keine Biere hinterlegt!</p>
            </ion-item>
        </ion-list>


    </ion-content>
    </div>

</ion-view>
