<ion-view cache-view="false" view-title="Profil Bearbeiten">
  <ion-nav-buttons side="right">
    <a class="button button-clear ion-ios-trash" ng-click="deleteUser()">
    </a>
  </ion-nav-buttons>

  <ion-content>
    <form ng-submit="editProfile()">
      <div class="list list-inset">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email ändern</span>
          <input ng-model="editform.email" name="email" placeholder="{{userdata.email}}" type="email">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Passwort ändern</span>
          <input ng-model="editform.password" name="password" placeholder="**********" type="password">
        </label>
        <button type="submit" class="button border-button">Absenden</button>
      </div>
    </form>
  </ion-content>
</ion-view>
