<ion-view hide-back-button="true" class="brown-background"  cache-view="false" view-title="Login">

  <ion-content scroll="false" class="login">
    <form ng-submit="login()">

      <div class="list list-inset">
        <a class="yellow-link" href="#/tab/account/signup">Noch kein Bierkonto?</a>
        <label class="item-input">
          <input ng-model="form.email" type="email" placeholder="Email">
        </label>
        <label class="item-input">
          <input ng-model="form.password" type="password" placeholder="Passwort">
        </label>
        <button type="submit" class="button border-button">einloggen</button>
      </div>
    </form>
    <ion-item>
      <a ng-href="{{passwordResetUrl}}">Mein Passwort zurücksetzen</a>
    </ion-item>


  </ion-content>
</ion-view>
