<ion-view  cache-view="false" view-title="Meine Biere">
  <ion-content>
    <ion-list>

      <ion-item ng-show="!beerList[0].beername">
        <div class="row">
          <div class="col">
            <p>Du hast noch keine Biere getrunken.</p>
          </div>
        </div>
      </ion-item>

      <ion-item class="card event-card item" ng-repeat="beer in beerList">
        <div class="row">
          <div class="col col-20">
            <p class="beer-number ng binding">{{beer.count}}</p>
          </div>
          <div class="col col-80">
            <span class="beer-info">
              <h2>{{beer.beername}}</h2>
              <p class="ng-binding">{{beer.breweryname | limitTo: 25}}</p></span>
            <span class="count-beer" ng-hide="isLocked">
              <button ng-disabled="isLocked" ng-click="logBeer(beer.beerid,beer.breweryname, beer.beername)" class="control" >+</button>
            </span>
          </div>


        </div>

      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
