<ion-view cache-view="false"  hide-back-button="true"  view-title="Profil">
    <ion-nav-buttons side="right">
    <a class="button  button-clear ion-edit" ng-href="#/tab/account/editProfile">
    </a>
    </ion-nav-buttons>
  <ion-content>

      <ion-item>
<div class="item profile-header" >
    <div ng-click="showOptions()">
          <img width="100" class="profilepicture" ng-src="{{image || userdata.image || 'img/no-image-placeholder.png'}}">
      <div class="add_image text-center">
        <i class="ion-ios-plus"></i>
      </div>
    </div>
      <h1>{{userdata.username}}</h1>
        <h3 class="yellow">beer baby</h3>

    <div class="row profile-facts">
        <div class="col"><span class="profile-overview">{{userActivities.beercount}}</span><p>beer</p>
        </div>
        <div class="col"><span class="profile-overview">{{userActivities.ratingcount}}</span> <p>ratings</p>
        </div>
        <div class="col"><span class="profile-overview">2</span><p>Trophys</p>
        </div>

    </div>

</div>
              <ion-list>

               <ion-item ng-click="goToMyBeers()" class="small-thumbnail-left divider">
                 <i class="icon beeround-favorite"></i>
                      <p>Meine Biere<i class="icon ion-chevron-right"></i></p>
               </ion-item>

               <ion-item ng-click="goToMyBeerStory()" class="small-thumbnail-left divider">
                 <i class="icon beeround-beerstory"></i>

                 <p>Bierhistory<i class="icon ion-chevron-right"></i></p>
               </ion-item>

                <ion-item ng-click="goToStatistics()" class="small-thumbnail-left divider">
                  <i class="icon beeround-satistic"></i>

                  <p>Statistik<i class="icon ion-chevron-right"></i></p>
                </ion-item>

                  <ion-item ng-click="goToTrophies()" class="small-thumbnail-left divider">
                      <i class="icon beeround-trophy"></i>
                      <p>Trophäen<i class="icon ion-chevron-right"></i></p>
                  </ion-item>

            </ion-list>

    </ion-item>

    <ion-item class="bottom">
      <button ng-click="logout()" class="button-block invert-button">Logout</button>
    </ion-item>

      <script id="filter.html" type="text/ng-template">
          <ion-popover-view">

          <ion-content>

              <!--Filter, in which radius the brewery should be away from the user-->
              <div class="overlay" ng-click="closePopover()"></div>
              <div class="card">
                  <i ng-click="closePopover()" class="icon ion-close-round"></i>

                  <a>Profil löschen</a>
                  <a>Profil bearbeiten</a>





              </div>
          </ion-content>
          </ion-popover-view>
      </script>



  </ion-content>
</ion-view>
