<ion-view cache-view="false" view-title="Signup" class="brown-background">

  <ion-content scroll="true" class="signup">

    <form ng-submit="signup()">
      <div class="signup_image text-center">
        <i ng-hide="srcImage" class="ion-ios-contact-outline"></i>
        <img ng-show="srcImage" ng-src="{{srcImage}}" width="100" height="100">

      </div>
      <div class="add_image text-center">
        <i class="ion-ios-plus" ng-click="showOptions()"></i>
      </div>

      <div class="list list-inset">

        <label class="item-input">
          <input ng-model="form.username" name="username" type="text" placeholder="Benutzername" required>
        </label>
        <label class="item-input">
          <input ng-model="form.email" type="email" placeholder="Email" required>
        </label>
        <label class="item-input">
          <input type="password" name="password" ng-model="form.password" placeholder="Passwort"
                 password-strength="form.password"/>
          <div class="progressbar" ng-style="progressbar" ng-show="form.password"
               data-ng-show='passwordForm.password.$valid && passwordForm.password.$dirty'
               data-ng-class="strength"><p>{{strength}}</p></div>
        </label>
      </div>
      <ion-item class="brown-background">
        <ion-checkbox ng-model="checked"
                      ng-required="true" ng-value="'Y'">Ja, ich bestätige, dass ich mindestens 16 Jahre alt bin.
        </ion-checkbox>
        <button type="submit" ng-click="uploadImage(uploadme)" id="register" ng-disabled="!checked"
                class="button border-button">Senden
        </button>
      </ion-item>
    </form>
  </ion-content>
</ion-view>
