<ion-view view-title="Statistik">

  <ion-content>
    <ion-item class="item">
      <p class="headline"> Fakten</p>
      <div class="row divider" style="margin-bottom: 20px; padding-bottom: 15px;">


        <div class="col cards-statistic">
          <h2>{{userActivities.beercount}} </h2>
          <p> Biere getrunken</p>
        </div>
        <div class="col cards-statistic">
          <h2>{{userActivities.differentbeerscount}} </h2>
          <p> Sorten getrunken</p>
        </div>
        <div class="col cards-statistic">
          <h2>{{userActivities.commentcount}} </h2>
          <p> Biere kommentiert</p>
        </div>
      </div>

      <p> Letzte Biere</p>
    <div class="item row divider statistic">

    <canvas id="line" class="chart chart-line item" chart-data="data"
            chart-labels="labels" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>

    </div>


    </ion-item>
  </ion-content>
</ion-view>
