.rating i {
  font-size: 30px;
  color: #C8C6C5;
  margin:0px;
  text-align: left;
}

.rating button.control {
  width: auto;
  height:auto;
  font-size: 22px;
  padding: 3px;
}

.rating i.active {
  color: #F1A435;
}

div.col.rating{
  text-align: left;
}


/*Luisa Code */

/* Popups*/

.popup {
  border-radius: 10px !important;
  font-family: "Proxima Nova", "Roboto", "Helvetica", "sans-serif" !important;
  background-color: rgba(255, 255, 255, 0.95) !important;

}

.popup-buttons .button.button-positive {
  background-color: #F1A435;

}


/* Register*/

ion-content.signup label.item-input{
  background: #FFFFFF;
  margin: 15px;
  border-radius: 4px;
  clear: both;
}

ion-item.brown-background > label {
  background: none;
  color: white;
  padding: 10px 10px 10px 50px;
}

.signup_image .ion-ios-contact-outline {
  font-size: 120px;
  z-index:1;
  position: relative;
}

.add_image {
  color:#F1A435;
  z-index: 2;
  font-size: 25px;
  position: absolute;
  left: 211px;
  top: 89px;

}

/* Checkboxen*/

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  background: #F1A435;
  border-color: #F1A435;
}

/* rateBeer*/

.commentTitle{
  padding-left: 0px !important;
  height:60px;
}

.commentTitle input {
  padding: 0px;
  border-bottom: none !important;

}

.commentTitle input:focus {
  transition: border-bottom 1s ease-out;
  border-bottom: 1px solid #F1A435 !important;
  box-shadow: 0 1px 0 0 #F1A435 !important
}

.commentText{
  padding-left: 0px;
  height:120px;
}

.commentText textarea{
  height: 75%;
}


.ratingComment{
  padding-top: 10px;
}

.rating .row {
  padding-top: 15px;
}

.beeround-trophy{
  content: url('../img/beeround_trophy.svg');
  width: 40px;
}

.item p:last-child {
  padding-bottom: 5px;
}

.detailbox{
  padding-left: 30px;
  border-radius: 5px;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.detailbox i {
  font-size: 27px;
  color: #C8C6C5;
  padding-right: 10px;
}

.detailbox .item {
  padding-left: 0px;
}

.detailbox h3{
  padding-top: 0px;
  font-size: 20px;
  margin-top: 0px;

}
.detailbox span {
  color:#F1A435;
  font-size: 14px;
}

.detailbox span:last-child {
  padding-left: 70px;
}

.divider{
  border-bottom: 1px solid #ddd;
}

.detailbox div:last-child{
  padding-top: 10px;
}