/*
COLORS:

black:          #000000
brown:          #773D17
yellow:         #F1A435
grey:           #C8C6C5
light-yellow:   #F2F0CE
white:          #FFFFFF

*/


/*BODY*/

body{
    font-family: "Proxima Nova", "Roboto", "Helvetica", "sans-serif";
    font-size: 16px;
    color: #000000;
    text-align: left;
}

/*HEADER*/
/* Hier fehlt ein Punkt?*/
ion-header-bar.bar.bar-stable{
    background: #773D17;
    color: #FFFFFF;
}




.bar-stable .button.button-clear{
    color: #FFFFFF;
}

.bar.bar-stable .title{
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    right:0 !important;
    left:0 !important;
}


/*SLIDER MENU*/
.tsb-icons{
    background: none;
    color: #000000;
    text-align: center;
    padding-top: 0px;
}


.tabbed-slidebox a{
    text-decoration: none;
    margin: 0px 0px 0px 20px;
}

.tabbed-slidebox a.active{
    color: #F1A435;
    border-bottom: 2px solid #F1A435;
    padding-bottom: 3px;
}

.tsb-ic-wrp{
    box-shadow: 0px 1px 4px #ddd;
    padding-bottom: 0px;
}

/*FOOTER*/

.tabs-striped .tabs {
    background: #773D17;
    color: #FFFFFF;
    border: none;
    padding-top: 2px;
    opacity: 1;
}



.tabs-striped .tab-item.tab-item-active {
    color: #F3A522;
    border-style: none;
    margin-top: 0px;
}

.tab-title{
    display: none;
}

.tab-item .icon{
    font-size: 30px;
}

.tabs-icon-top > .tabs .tab-item{
    opacity: 1;
}

a.tab-item.tab-item-active{
    color: #F1A435;
}


/*Android specific*/

.tabs{
    background-color: #773D17;
    color: #FFFFFF;
    border-style: none;
    background-image: none;
}

.tab-item{
    padding-top: 5px;
}


/*SEARCHBOX*/

div.list-inset{
    background-color: transparent;
}

.list-inset .item:last-child{
   border-radius: 4px;
}



.searchbox{
    background-color: #773D17;
    padding: 0px 5px 5px 5px;
    margin-top: -5px;
}



/*POPOVER*/

div.overlay{
    margin: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.9);
    position: relative;

}



div.card{
    position: absolute;
    top: 20px;
    z-index: 2;
    width: 95%;
    background: none;
    box-shadow: none;
    padding: 0px 20px;
    margin-top: 10px;

}

.filter{
    margin-top: 60px;
}





/*FONTS*/


h1{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;

}

h2{
    text-align: left;

}

h3{
    padding-top: 20px;
}

h4{
    text-decoration: underline;
}

p{
text-align: left;
}

i{
    font-style: normal;
}

a{
    text-decoration: none;
}

/*LINKS*/



/*BUTTONS*/

button{
    font-family: "Proxima Nova", "Roboto","Helvetica","sans-serif";
    font-size: 14px;
    color: #F1A435;
    font-weight: lighter;
    background: #FFFFFF;
    border:0px;
    border-radius: 4px;
    min-width:25px;
    margin: 5px;
    height:25px;
    line-height: initial;
    box-shadow: 0px 1px 3px #ccc;

}

button.active{
    background: #F1A435;
    color: #FFFFFF;
    font-weight: normal;
}

button:hover{
    background: #F1A435;
    color: #FFFFFF;
    font-weight: normal;
}


button.back-button{
    display: inherit;
}

.button-geolocation{

    height: 34px;
    min-width: 34px;
    margin: 0px;
    box-shadow: none;
}

.item-button-right{
    padding-right: 8px;
    margin-right: 0px;
    float: right;
    width: 100%;
}

.contact-button{
    box-sizing: border-box;
    position: absolute;
    margin: -45px 0 0 25px !important;
    background: none;
    padding-bottom: 5px !important;
    right: 5px;
}

.contact-button button {
    font-size: 30px;
}

.invert-button  {
    background-color: #F1A435;
    color:#ffffff;
    min-width: 45px;
    min-height: 40px;

}

.invert-button:hover{
    background-color: #ffffff;
    color:#F1A435;
    border-color: #F1A435;
}


.button-block{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
/*ITEM*/

.item{
   border-style: none;
    padding-top:0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}

a.item {
    border-style: none;
    padding-top: 8px;
}

.item .divider{
    border-bottom: 1px solid #ddd;
}

a .item .divider{
    border-bottom: 1px solid #ddd;

}


.item-thumbnail-left{
    padding-left: 90px;
}

.item-thumbnail-left >img:first-child {
    left: 0;
}

div.comment > label.item-input{
    min-height: 100px;
}

/*ICONS*/

i.icon{
    vertical-align: middle;
}

.icon{
    vertical-align: middle;
}

.infoicons{
    color: #F1A435;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: left;
}

.infoicons > span {
    padding-right: 15px;
}

.ion-android-people{
    font-size: 16px;
}


span.button.button-icon.button-clear.ion-android-more-vertical:before{
    font-size: 24px;
}

.ion-ios-location{
    font-size: 18px;
}

i.icon.ion-navicon-round{
    font-size: 33px;
    height: 30px;
}


.ion-close-round{
    float: right;
}

.ion-chevron-right{
    float: right;
}

.ion-chevron-right:before {
    transform: translate(0px, -8px);
    top: 50%;
}

.beeround-icon{
    width: 14px;
}

.beeround-count{
   content: url('../img/beeround-count.svg');
   font-size: 14px;
 }

.restaurant{
  content: url('../img/beeround_food.svg');
  font-size: 14px;
}

.promille-number{
  color: #F1A435!important;
  font-weight: bold!important;
}


.promille {
  content: url('../img/beeround_promille.svg');
  font-size: 14px;
}

i.small-icon.ion-ios-pint{
    font-size: 18px;
}


/*GENERAL STUFF*/




.full-width img{
    position: relative;
    display: block;
    width: 100%;
}

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
    bottom: 150px !important;
}

.scroll {
  height: 100%;
}

ng-map {
  width: 100%;
  height: 100%;
}


.no-padding-right{
    padding-right: 0px;
    margin: 0px 0px 0px 10px;
    }

.no-padding-left{
    margin: 0px;
}

span.back-text{
    display: none;
}

ion-slides{
    height:200px;
}

.inside-slider{
    position: absolute;
    z-index: 2;
    top:0px;
    left:32px;
    padding-top: 0px;
}


ion-item.item-thumbnail-left.item{
    padding-left: 50px;
    padding-top: 10px;
}

ion-item.item-thumbnail-left.item > img.small-img{
    max-width: 40px;
    max-height: 40px;
}

ion-item.feed.item-thumbnail-left{
    min-height: 60px;
}


/*BREWERY*/
ion-item.brewery-thumbnail.item{
    padding-left: 5px;
}

.brewery-image{
    width: 100%;
    margin-bottom: 15px;
}

.brewery-thumbnail{
    padding-bottom: 20px;
}


/*BEERDETAILS*/

.information{
    text-align: center;
    padding-top: 20px;
}

.information button{
    background: #773D17;
    color: #FFFFFF;
    font-weight: bold;
}

.rateBeer{
    position: absolute;
    bottom: 0;
    width: 100%
}

.strong   { color: #060; border-color: #0F0;}
.medium   { color: #C60; border-color: #FC0;}
.weak     { color: #900; border-color: #F00;}
.strength { padding: 1px 10px; border: 2px solid; color: #FFF;}


.blur{
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
