/*
COLORS:

black:          #000000
brown:          #773D17
yellow:         #F1A435
grey:           #C8C6C5
light-yellow:   #F2F0CE
white:          #FFFFFF

*/


/*BODY*/

body{
    font-family: "Proxima Nova", "Roboto", "Helvetica", "sans-serif";
    font-size: 16px;
    color: #000000;
    text-align: left;
}


/*HEADER*/

ion-header-bar.bar.bar-stable{
    background: #773D17;
    color: #FFFFFF;
}

.bar-stable .button.button-clear.ion-navicon{
    width: 100%;
}

.bar-stable .button.button-clear{
    color: #FFFFFF;
}

.bar.bar-stable .title{
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;

}


/*SLIDER MENU*/
.tsb-icons{
    background: none;
    color: #000000;
    text-align: center;
}

.tabbed-slidebox a{
    text-decoration: none;
}

.tabbed-slidebox a.active{
    color: #F1A435;
    border-bottom: 2px solid #F1A435;
    padding-bottom: 3px;

}

/*FOOTER*/


.tabs-striped .tabs {
    background: #773D17;
    color: #FFFFFF;
    border: none;
}

.tabs-striped .tab-item.tab-item-active {
    color: #F3A522;
}



/*SEARCHBOX*/

.list-inset .item:last-child{
    border: 1px solid #F3A522;
   border-radius: 4px;
}



/*FONTS*/

h1{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;

}

h2{text-align: left;

}

h3{

}

p{
text-align: left;
}

/*LINKS*/



/*BUTTONS*/

button{
    font-family: "Proxima Nova", "Roboto","Helvetica","sans-serif";
    font-size: 14px;
    color: #F1A435;
    font-weight: lighter;
    background: #FFFFFF;
    border:1px solid #F1A435;
    border-radius: 4px;
    width:100px;
    margin: 5px;
    height:40px;
}

button.active{
    background: #F1A435;
    color: #FFFFFF;
    font-weight: normal;
}


button.back-button{
    display: inherit;
}

/*ITEM*/

.item{
   border-style: none;
}

a.item {
    border-style: none;
    margin-top: 14px;
}

.item .divider{
    border-bottom: 1px solid #ddd;
}

a .item .divider{
    border-bottom: 1px solid #ddd;

}


.item-thumbnail-left{
    padding-left: 90px;
}

.item-thumbnail-left >img:first-child {
    left: 0;
}

/*ICONS*/

.icon{
    vertical-align: middle;
}

.infoicons{
    color: #F1A435;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.infoicons > span {
    padding-right: 25px;
}

.ion-android-people{
    font-size: 16px;
}

.beeround-icon{
    width: 14px;
}

.beeround-count{
   content: url('../img/beeround-count.svg');
   font-size: 14px;
 }

.restaurant{
  content: url('../img/beeround_food.svg');
  font-size: 14px;
}









.scroll {
  height: 100%;
}

ng-map {
  width: 100%;
  height: 100%;
}

