/*
COLORS:

black:          #000000
brown:          #773D17
yellow:         #F1A435
grey:           #C8C6C5
light-yellow:   #F2F0CE
white:          #FFFFFF

*/


/*BODY*/

body{
    font-family: "Proxima Nova", "Roboto", "Helvetica", "sans-serif";
    font-size: 16px;
    color: #000000;
    text-align: left;
}

.yellow{
    color: #F1A435;
}

.item p.black{
    color: #000000; !important;
}

button[disabled], button[disabled]:hover {
  cursor: default;
  color: #C8C6C5;
  opacity: 0.5;
  background-color: white;
}


/*HEADER*/

ion-header-bar.bar.bar-stable{
    background: #773D17;
    color: #FFFFFF;
}




.bar-stable .button.button-clear{
    color: #FFFFFF;
}

.bar.bar-stable .title{
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    right:0 !important;
    left:0 !important;
}


/*SLIDER MENU*/
.tsb-icons{
    background: none;
    color: #000000;
    text-align: center;
    padding-top: 0px;
}


.tabbed-slidebox a{
    text-decoration: none;
    margin: 0px 0px 0px 20px;
}

.tabbed-slidebox a.active{
    color: #F1A435;
    border-bottom: 2px solid #F1A435;
    padding-bottom: 3px;
}

.tsb-ic-wrp{
    box-shadow: 0px 1px 4px #ddd;
    padding-bottom: 0px;
}

/*FOOTER*/

.tabs-striped .tabs {
    background: #773D17;
    color: #FFFFFF;
    border: none;
    padding-top: 2px;
    opacity: 1;
}



.tabs-striped .tab-item.tab-item-active {
    color: #F3A522;
    border-style: none;
    margin-top: 0px;
}

.tab-title{
    display: none;
}

.tab-item .icon{
    font-size: 30px;
}

.tabs-icon-top > .tabs .tab-item{
    opacity: 1;
}

a.tab-item.tab-item-active{
    color: #F1A435;
}


/*Android specific*/

.tabs{
    background-color: #773D17;
    color: #FFFFFF;
    border-style: none;
    background-image: none;
}

.tab-item{
    padding-top: 5px;
}


/*SEARCHBOX*/

div.list-inset{
    background-color: transparent;
}

.list-inset .item:last-child{
   border-radius: 4px;
}

div.no-padding-right{
    width: 100%;
}


.no-padding-right{
    padding: 0px 5px 0px 5px;
    margin: 0px;
}

.no-padding-left{
    margin: 0px;
    padding: 0px 5px 0px 5px;
}

.searchbox{
    background-color: #773D17;
    padding: 0px 5px 10px 5px;
    width: 100%;
}



/*POPOVER*/

.popover {
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  position: inherit;
}

div.overlay{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.5;
    position: relative;
}



div.card{
    position: absolute;
    top: 20px;
    z-index: 2;
    width: 95%;
    background: none;
    box-shadow: none;
    padding: 0px 20px;
    margin-top: 20px;

}

.filter{
    margin-top: 60px;
}





/*FONTS*/


h1{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;

}

h2{
    text-align: left;

}

h3{
    padding-top: 20px;

}

h3.yellow{
    padding-top: 0px;
    margin-top: -6px;
    margin-bottom: 12px;
}



h4{
    color: #666;
}

p{
text-align: left;
}

i{
    font-style: normal;
}

a{
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}

p{
    font-size: 12px;
}

span{
    white-space: inherit;
}

.yellow-link{
    color: #F1A435;
    font-size: 13px;
    text-decoration: underline;
    float: right;
    margin-right: 20px;

}

/*LINKS*/



/*BUTTONS*/

button{
    font-family: "Proxima Nova", "Roboto","Helvetica","sans-serif";
    font-size: 14px;
    color: #F1A435;
    font-weight: normal;
    background: #FFFFFF;
    border:0px;
    border-radius: 4px;
    min-width:25px;
    margin: 5px;
    height:25px;
    line-height: initial;
    box-shadow: 0px 1px 3px #ccc;

}

button.active{
    background: #F1A435;
    color: #FFFFFF;
    font-weight: normal;
}

button:hover{
    background: #F1A435;
    color: #FFFFFF;
    font-weight: normal;
}


button.back-button{
    display: inherit;
}

.button-brown{
    background: #773D17;
    color: #FFFFFF;
    font-weight: bold;
}

.button-geolocation{

    height: 34px;
    min-width: 34px;
    margin: 0px;
    box-shadow: none;
    float: right;
}

.item-button-right{
    padding-right: 8px;
    margin-right: 0px;
    float: right;
    width: 100%;
}

.contact-button{
    box-sizing: border-box;
    position: absolute;
    margin: -45px 0 0 25px !important;
    background: none;
    padding-bottom: 5px !important;
    right: 5px;
}

.contact-button button {
    font-size: 30px;
}

.invert-button  {
    background-color: #F1A435;
    color:#ffffff;
    min-width: 45px;
    min-height: 40px;

}

.invert-button:hover{
    background-color: #ffffff;
    color:#F1A435;
    border-color: #F1A435;
}

.invert-button:active {
    background-color: #ffffff;
    color: #F1A435;
    border-color: #F1A435;
}


.button-block{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.border-button{
    background: none;
    border: 2px solid #F1A435;
    color: #F1A435;
    font-weight: bold;
    box-shadow: none;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.add-beer-icon{
 float:right;
}
/*ITEM*/

.item{
   border-style: none;
    padding-top:0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}

a.item {
    border-style: none;
    padding-top: 8px;
}

.item .divider{
    border-bottom: 1px solid #ddd;
}

a .item .divider{
    border-bottom: 1px solid #ddd;
}


.item-thumbnail-left{
    padding-left: 90px;
}

.item-thumbnail-left >img:first-child {
    left: 0;
}

a.item.event-item{
    padding-left: 0px;
}


div.comment > label.item-input{
    min-height: 100px;
}


ion-item.item-thumbnail-left.item{
    padding-left: 50px;
    padding-top: 10px;
}

ion-item.item-thumbnail-left.item > img.small-img{
    max-width: 40px;
    max-height: 40px;
}

ion-item.feed.item-thumbnail-left{
    min-height: 60px;
}

.events-item{
  margin-bottom: 15px;
}

/*ICONS*/

i.icon{
    vertical-align: middle;
}

.icon{
    vertical-align: middle;
}

.infoicons{
    color: #F1A435;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: left;
}

.infoicons > span {
    padding-right: 15px;
}

.ion-android-people{
    font-size: 16px;
}


span.button.button-icon.button-clear.ion-android-more-vertical:before{
    font-size: 24px;
}

.ion-ios-location{
    font-size: 18px;
}

i.icon.ion-navicon-round{
    font-size: 33px;
    height: 30px;
}


.ion-close-round{
    float: right;
    font-size: 20px;
}

.ion-chevron-right{
    float: right;
}

.ion-chevron-right:before {
    transform: translate(0px, -8px);
    top: 50%;
}

a.button.button-clear.ion-edit:before{
    font-size: 20px;
    vertical-align: middle;
    line-height: 20px;
    padding: 7px;
}

.ion-ios-trash:before{
    font-size: 25px;
    padding: 2px;
}

.ion-android-cancel:before{
    position: absolute;
    z-index: 3;
    top: 6px;
    left: 355px;

}

.beeround-icon{
    width: 14px;
}

.beeround-count{
   content: url('../img/beeround-count.svg');
 }

.beeround-favorite{
    content: url('../img/beeround_favorite.svg');
    width: 40px;
}

.beeround-satistic{
    content: url('../img/beeround_statistic.svg');
    width: 40px;
}

.beeround-beerstory{
    content: url('../img/beeround_beerstory.svg');
    width: 40px;
}

.restaurant{
  content: url('../img/beeround_food.svg');
  font-size: 14px;
}

.promille-number{
  color: #F1A435!important;
  font-weight: bold!important;
}


.promille {
  content: url('../img/beeround_vol.svg');
  width: 31px;
    padding-bottom: 3px;
}

i.small-icon.ion-ios-pint{
    font-size: 18px;
}


/*GENERAL STUFF*/


.platform-ios .popover .scroll-content {
    margin: 0px;
}

.bottom{
    position: absolute;
    bottom: 0;
    width: 100%
}


.blur{
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
}


.full-width img{
    position: relative;
    display: block;
    width: 100%;
}

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
    bottom: 150px !important;
}

.scroll {
  height: 100%;
}

ng-map {
  width: 100%;
  height: 100%;
}

.detailbox {
  position: absolute;
  z-index: 99999;
  bottom: 20px;
  width: 95%;
  left: 10px;
  background-color: white;
  height: 180px;
  border-radius: 20px;
  right: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

span.back-text{
    display: none;
}


/*IMAGE SLIDER*/
ion-slides{
    height:200px;
}

.inside-slider{
    position: absolute;
    z-index: 2;
    top:0px;
    left:32px;
    padding-top: 0px;
}


ion-item >ion-item.item{
    padding-left: 0px;
}

/*BREWERY*/
ion-item.brewery-thumbnail.item{
    padding-left: 5px;
}

.brewery-image{
    width: 100%;
    margin-bottom: 15px;
}

.brewery-thumbnail{
    padding-bottom: 20px;
}

ion-item.brewery-contact{
    margin-top: 3px;
}


/*BEERDETAILS*/




p.characteristicsCount .ng-binding{
    font-size: 10px;
    float: right;
    margin-left: 3px;
}

.characteristicBar{
    background: #773D17;
    height:7px;
    border-radius: 4px;
    margin-top: 5px;
}

p.characteristicsInfo{
    font-size: 11px;
    color: #773D17;
    font-weight: bold;
}

.characteristics.row.col-25{
    padding-top: 10px;
}
.rzslider .rz-pointer {
    background-color:#F1A435;
    width: 14px;
    height: 14px;
    top:-5px;
    margin-left: 7px;
}
.rzslider .rz-pointer:after {
    background-color: none;
    border: none;
}
.rzslider .rz-tick {
    background:#C8C6C5;
}

.rzslider .rz-pointer.rz-active:after{
    background: #FFFFFF;
}
.rzslider {
    margin: 15px 0 35px 0;
    font-size: 10px;
}

.box{
    position: absolute;
    z-index: 2;
    top:10px;
    left:130px;
}

.commentDate{
    float: right;
    font-size: 11px !important;
}


/*REGISTER*/

.strong   { color: #060; border-color: #0F0;}
.medium   { color: #C60; border-color: #FC0;}
.weak     { color: #900; border-color: #F00;}
.strength { padding: 1px 10px; border: 2px solid; color: #FFF;}




/*LOGIN*/

.login{
    background-image: url('../img/beeround_white_yellow.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 60%;
    margin-bottom: 70px;
    position: absolute;
}


ion-content.login label.item-input{
    background: #FFFFFF;
    margin: 15px;
    border-radius: 4px;
    clear: both;
}

.brown-background{
    background: #773D17;
    color: #FFFFFF;
}


/*PROFIL*/


label.edit-profile{
    padding:0px 10px;
}

button.button-block.edit-profile{
    margin:10px;
    width: auto;

}

input.edit-input{
    background: rgba(200, 198, 197, 0.3);
    border-radius: 7px;
    padding: 12px;
}
.signup_image{
    width: 100px;
    height:100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

label.confirm-age > div {
    white-space: normal;
}


.profilepicture{
    width: 100px;
    height: auto;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    margin-right: 20px;
    margin-top: 20px;
    float: left;

}

.small-thumbnail-left{
    padding: 10px;
}

.small-thumbnail-left > p {
    transform: translate(0px, 15px);
}
ion-item.small-thumbnail-left > i{
    float: left;
}

ion-item.small-thumbnail-left > p i.icon.ion-chevron-right:before  {
    transform: translate(0px, 0px);
}

span.profile-overview{
    color: #C8C6C5;
    font-size: 18px;
    padding-right: 35px;
    font-weight: bold;
    float: left;
    text-align: center;
line-height: 14px;
}

span.profile-overview >p {
    font-size: 10px;
    font-weight: normal;
}

.profile-header{
    padding-bottom: 40px;
}


/*EVENT*/

p.event-day {
    font-size: 24px;

}

ion-item.event-card{
    margin-top: 5px;
}

p.event-price{
    font-size: 16px;
    margin-top: 18px;
}


/*BEER RATING*/

label.edit-beer{
    padding:0px 10px;
}

textarea.commentText{
    background: rgba(200, 198, 197, 0.3);
    border-radius: 7px;
    padding: 12px;
    height:120px;
    margin-top: 10px;
}

.information{
    padding-left: 6px;
}