.rating i {
  font-size: 30px;
  color: #C8C6C5;
  margin:0px;
  text-align: left;
}

.rating button.control {
  width: auto;
  height:auto;
}

.rating i.active {
  color: #F1A435;
}

div.col.rating{
  text-align: left;
}
